$brand-primary: #5b4681;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;

$space: 1.4rem;
// font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

$input-border: $grey;
$input-spacing: 1rem;

// boxed view vars
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: #777777;
$button-secondary-border-color: $grey;

$header-bg: $brand-primary;
$header-color: white;
$site-max-width: 50rem;

$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;
